{% extends 'home/base.html.twig' %}

{% block content %}
    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb breadcrumb-custom" style="padding-left: 6px">
                <li class="breadcrumb-item breadcrumb-item-custom">
                    <a href="{{ app.request.getBaseURL() }}/">{{ traduction.accueil |trans }}</a>
                </li>
                <li class="breadcrumb-item breadcrumb-item-custom">
                    {{ traduction.administration | trans }}
                </li>
                <li class="breadcrumb-item active">{{ traduction.evaluations | trans }}</li>
            </ol>


            <h3>{{ traduction.evaluations | trans }}</h3>

            <table class="table table-sm mt-5" id="dataTableEval" style="width: 100%">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">{{ traduction.code | trans }}</th>
                    <th scope="col">{{ traduction.nom | trans }}</th>
                    <th scope="col">{{ traduction.president | trans }}</th>
                    <th scope="col">{{ traduction.etat | trans }}</th>
                    <th scope="col">{{ traduction.actions |trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for evaluation in evaluations %}
                    <tr>
                        <th scope="row">{{ evaluation.id }}</th>
                        <td>{{ evaluation.code }}</td>
                        <td><a href="{{ path('dashboard_dossier', {'id': evaluation.id}) }}">{{ evaluation.nom }}</a></td>
                        <td>{{ evaluation.president }}</td>
                        <td>
                            {% if evaluation.state == 1 %}
                                <span class="badge badge-primary badge-pill">{{ traduction.en_edition | trans}}</span>
                            {% elseif evaluation.state == 2 %}
                                <span class="badge badge-info badge-pill">{{ traduction.en_validation | trans}}</span>
                            {% elseif evaluation.state == 3 %}
                                <span class="badge badge-success badge-pill">{{ traduction.publier | trans}}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="ml-3" href="{{ path('evaluation_edit', {'id': evaluation.id}) }}" style="color: #0069d9;"> <span class="fas fa-fw fa-edit"></span>{{ traduction.modifier_l_evaluation | trans }} </a><br>
                            <a class="ml-3" href="{{ path('document_evaluation_choice', {'idEval': evaluation.id, 'idDoc': '0','page' : 'gestion_member_attribution'}) }}" style="color: #0069d9;"> <span class="fas fa-fw fa-users"></span>{{ traduction.gerer_les_membres | trans }} </a><br>
                            <button style="color: red; background: transparent;" class="btn" data-toggle="modal" data-target="#modal_delete_{{ evaluation.id }}"><i class="fas fa-fw fa-trash"></i>{{ traduction.supprimer_l_evaluation | trans }} </button>

                            <div class="modal fade" id="modal_delete_{{ evaluation.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{ traduction.suppression_de  | trans }} : {{ evaluation.nom }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        {{traduction.attention_la_suppression_du_dossier | trans }} : <b>{{ evaluation.nom }}</b> {{ traduction.implique_la_suppression_defenitive_des_documents_associe |trans }} 
                                        {% if evaluation.documents|length %}
                                            <br />
                                            {{traduction.documents_associe | trans}}:
                                            <ul>
                                            {% for document in evaluation.documents %}
                                            <li>{{ document }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ traduction.annuler |trans }}</button>
                                            <form method="post" class="ml-0" action="{{ path('evaluation_delete', {'id': evaluation.id}) }}" onsubmit="return confirm({{ traduction.etes_vous_sur_de_vouloir_supprimer_cette_evaluation | trans}});">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evaluation.id) }}">
                                                <button class="btn btn-danger"><i class="fas fa-fw fa-trash"></i> {{traduction.supprimer | trans}}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ app.request.getBaseURL() }}/newDossierDocument"
               class="btn btn-custom-hceres float-right mt-5 mr-1"><i
                        class="fas fa-fw fa-plus"></i> {{ traduction.ajouter|trans }}</a>


            <!-- Sticky Footer -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}
{% block javascripts %}
        <script type="text/javascript">
        $(document).ready(function () {

            $('#dataTableEval').DataTable({

                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
                },
                "pageLength": 25,
                "stateSave": true,
                "processing": true,
                "responsive": true,
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    {"searchable": false},
                ],
                "initComplete": function () {
                    $(this).show();
                }
            });
            if ( lang === "en") {
                $('#dataTableEval').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/English.json"
                    },
                    "pageLength": 25,
                    "stateSave": true,
                    "processing": true,
                    "responsive": true,
                    "columns": [
                        null,
                        null,
                        null,
                        null,
                        null,
                        {"searchable": false},
                    ],
                    "initComplete": function () {
                        $(this).show();
                    }
                });
            }
        });
    </script>

{% endblock %}
