{% trans_default_domain 'FOSUserBundle' %}

<div class="row justify-content-md-center py-3">
    <div class="col-md-6">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        <div class="card bg-light">

            {% if app.session.get('lang') =='fr' %}
                <div class="card-header bg-primary text-white   ">
                    <i class="fa fa-lock-open"></i>
                    Changer de mot de passe
                </div>
            <div class="card-body">
                {{ form_widget(form) }}
                <div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        {{ 'change_password.submit' | trans }}
                    </button>
                </div>
            </div>
            {% else %}
                <div class="card-header bg-primary text-white   ">
                    <i class="fa fa-lock-open"></i>
                    Change password
                </div>
                <div class="card-body">
                    Current password
                    <br>
                    {{ form_widget(form.current_password) }}
                    New password
                    <br>
                    {{ form_widget(form.plainPassword.first) }}
                    Please repeat the new password
                    <br>
                    {{ form_widget(form.plainPassword.second) }}
                    <br>
                    <div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Update password
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>
</div>