{% extends 'home/base.html.twig' %}

{% block content %}
    <div id="content-wrapper">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                {% if ( label == 'success' ) %}
                    <div class="alert alert-success alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ flash }}
                    </div>
                {% elseif ( label == 'error' ) %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ flash }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb breadcrumb-custom" style="padding-left: 6px">
                <li class="breadcrumb-item breadcrumb-item-custom">
                    <a href="{{ app.request.getBaseURL()  }}/">{{ traduction.accueil|trans }}</a>
                </li>
                <li class="breadcrumb-item active">{{ traduction.tableau_de_bord_general|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-md-11 mx-auto">
                    <h3 class="mb-3">{{ traduction.tableau_de_bord_general|trans|upper }}</h3>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            {% for evaluation in evaluations %}
                                <div class="card">
                                    <div class="card-body">
                                        {{ evaluation.nom }}
                                        {% if evaluation.state == 1 %}
                                            <span class="badge badge-pill badge-pill-custom ml-4 mt-2 custom-edition">{{ traduction.en_edition|trans }}</span>
                                        {% elseif evaluation.state == 2 %}
                                            <span class="badge badge-pill badge-pill-custom ml-4 mt-2 custom-validation">{{ traduction.en_validation|trans }}</span>
                                        {% elseif evaluation.state == 3 %}
                                            <span class="badge badge-pill badge-pill-custom ml-4 mt-2 custom-publication">{{ traduction.publie|trans }}</span>
                                        {% endif %}
                                        <a href="{{ path('dashboard_dossier', {'id': evaluation.id}) }}" class="btn btn-custom-hceres float-right mr-1">{{ traduction.voir_le_tableau_de_bord|trans }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {#<a href="{{ path('admin_dashboard_index') }}">Dashboard utilisateurs</a>#}
            {#<div class="row mt-5">#}
                {#<div class="col-md-5 mx-auto">#}
                    {#<div class="card">#}
                        {#<div class="card-body">#}
                            {#<h5 class="card-title">Etat</h5>#}
                            {#<p class="card-text">#}
                                {#Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut suscipit risus, ac molestie#}
                                {#tortor. Sed consectetur lacus metus, aliquam vestibulum neque porttitor et. Aenean#}
                                {#laoreet maximus tempus.#}
                            {#</p>#}
                            {#<div class="progress">#}
                                {#<div class="progress-bar" role="progressbar" style="width: 55%; background-color: #F26F21" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>#}
                            {#</div>#}
                            {#<div class="progress my-3">#}
                                {#<div class="progress-bar" role="progressbar" style="width: 40%; background-color: #00AAB5" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
                            {#</div>#}
                            {#<div class="progress">#}
                                {#<div class="progress-bar" role="progressbar" style="width: 75%; background-color: #79B638" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-5 mx-auto">#}
                    {#<div class="card">#}
                        {#<div class="card-body">#}
                            {#<h5 class="card-title">Collaborateurs</h5>#}
                            {#<p class="card-text">#}
                                {#Chargé(e) d’expertise : 15<br>#}
                                {#Chargé(e) de gestion des évaluations : 2<br>#}
                                {#Gestionnaire administratif(ve) : 3<br>#}
                                {#Chargé(e) de mission scientifique : 8<br>#}
                                {#Chargé(e) de projets : 1<br>#}
                                {#Conseiller(ère) scientifique : 8<br>#}
                                {#Conseiller(ère) scientifique coordinateur(trice) : 1<br>#}
                                {#Conseiller(ère) scientifique pilote :2<br>#}
                            {#</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <!-- Sticky Footer -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock %}
