{% if droitPerm[bloc.id] is defined %}
    {% if droitPerm[bloc.id].ecriture == true %}
        <div class=" ml-4 btn-group">
            {% if bloc.is_tab == true %}
                <a href="{{ app.request.getBaseURL()  }}/rapport/actionsTab/{{ bloc.id }}"
                   target="_blank"
                   class="btn dropdown-button-custom pt-2"
                   style="color: black"><b>{{ traduction.modifier_le_tableau |trans }}</b>
                </a>
            {% else %}
                <a href="{{ app.request.getBaseURL()  }}/rapport/actions/{{ bloc.id }}"
                   target="_blank"
                   class="btn dropdown-button-custom pt-2"
                   style="color: black"><b>{{ traduction.editer_le_paragraphe |trans }}</b>
                </a>
            {% endif %}

            {% if (droitPerm[bloc.id] is defined and droitPerm[bloc.id].gestion == true
                or droits.gestion == true ) %}

                <a class="btn nav-link dropdown-toggle dropdown-button-custom"
                   id="dropdown09"
                   data-toggle="dropdown"><span class="caret"></span>
                </a>
                <div id="btnGroupBloc{{ bloc.id }}" class="dropdown-menu dropdown-menu-hceres float-right"
                     aria-labelledby="dropdown09">
                    {#____________________________________#}
                    {#BLOC_ATTRIBUTION#}
                    {% if droitPerm[bloc.id] is defined %}
                        {% if droitPerm[bloc.id].gestion == true %}
                            <a class="dropdown-item" href="{{ app.request.getBaseURL()  }}/gestion/permissions/blocks/global/{{ bloc.id }}">{{ traduction.attribuer_les_permissions |trans }}</a>
                        {% endif %}
                    {% else %}
                        {% if droits.gestion == true %}
                            <a class="dropdown-item" href="{{ app.request.getBaseURL()  }}/gestion/permissions/blocks/global/{{ bloc.id }}">{{ traduction.attribuer_les_permissions |trans }}</a>
                        {% endif %}
                    {% endif %}
                    {#BLOC_ATTRIBUTION#}
                    {#BLOC_VALIDATION#}
{#                    {% if droitPerm[bloc.id] is defined %}#}
{#                        {% if droitPerm[bloc.id].modificationEtat == true %}#}
{#                            #}{#{% if bloc.status == 1 %}#}
{#                            #}{#<a id="blocStateBtn{{ bloc.id }}" class="dropdown-item" onclick="blocDismiss({{bloc.id}})" >Invalider le paragraphe</a>#}
{#                            #}{#{% else %}#}
{#                            <a id="blocStateBtn{{ bloc.id }}" class="dropdown-item" onclick="blocValidation({{bloc.id}})" >{{ traduction.valider_le_bloc |trans }}</a>#}
{#                            #}{#{% endif %}#}
{#                        {% endif %}#}
{#                    {% else %}#}
{#                        {% if droits.modificationEtat == true %}#}
{#                            #}{#{% if bloc.status == 1 %}#}
{#                            #}{#<a id="blocStateBtn{{ bloc.id }}" class="dropdown-item" onclick="blocDismiss({{bloc.id}})" >Invalider le paragraphe</a>#}
{#                            #}{#{% else %}#}
{#                            <a id="blocStateBtn{{ bloc.id }}" class="dropdown-item" onclick="blocValidation({{bloc.id}})" >{{ traduction.valider_le_bloc |trans }}</a>#}
{#                            #}{#{% endif %}#}
{#                        {% endif %}#}
{#                    {% endif %}#}
                    {#BLOC_VALIDATION#}
                    {#____________________________________#}
                </div>
            {% endif %}



        </div>
    {% endif %}
{% else %}
    {% if droits.ecriture == true %}
        <div class=" ml-4 btn-group">
            {% if bloc.is_tab == true %}
                <a href="{{ app.request.getBaseURL()  }}/rapport/actionsTab/{{ bloc.id }}"
                   target="_blank"
                   class="btn dropdown-button-custom pt-2"
                   style="color: black"><b>{{ traduction.modifier_le_tableau |trans }}</b>
                </a>
            {% else %}
                <a href="{{ app.request.getBaseURL()  }}/rapport/actions/{{ bloc.id }}"
                   target="_blank"
                   class="btn dropdown-button-custom pt-2"
                   style="color: black"><b>{{ traduction.editer_le_paragraphe |trans }}</b>
                </a>
            {% endif %}

            {% if (droitPerm[bloc.id] is defined and droitPerm[bloc.id].gestion == true
                or droits.gestion == true )
                or
                (droitPerm[bloc.id] is defined and droitPerm[bloc.id].modificationEtat == true
                or droits.modificationEtat == true) %}
                <a class="btn nav-link dropdown-toggle dropdown-button-custom"
                   id="dropdown09"
                   data-toggle="dropdown"><span class="caret"></span>
                </a>
                <div id="btnGroupBloc{{ bloc.id }}" class="dropdown-menu dropdown-menu-hceres float-right"
                     aria-labelledby="dropdown09">
                    {#____________________________________#}
                    {#BLOC_ATTRIBUTION#}
                    {% if droitPerm[bloc.id] is defined %}
                        {% if droitPerm[bloc.id].gestion == true %}
                            <a class="dropdown-item" href="{{ app.request.getBaseURL()  }}/gestion/permissions/blocks/global/{{ bloc.id }}">{{ traduction.attribuer_les_permissions |trans }}</a>
                        {% endif %}
                    {% else %}
                        {% if droits.gestion == true %}
                            <a class="dropdown-item" href="{{ app.request.getBaseURL()  }}/gestion/permissions/blocks/global/{{ bloc.id }}">{{ traduction.attribuer_les_permissions |trans }}</a>
                        {% endif %}
                    {% endif %}
                    {#BLOC_ATTRIBUTION#}
                    {#BLOC_VALIDATION#}
                    {% if droitPerm[bloc.id] is defined %}
                        {% if droitPerm[bloc.id].modificationEtat == true %}
                            {#{% if bloc.status == 1 %}#}
                            {#<a id="blocStateBtn{{ bloc.id }}" class="dropdown-item" onclick="blocDismiss({{bloc.id}})" >Invalider le paragraphe</a>#}
                            {#{% else %}#}
{#                            <a id="blocStateBtn{{ bloc.id }}" class="dropdown-item" onclick="blocValidation({{bloc.id}})" >{{ traduction.valider_le_bloc |trans }}</a>#}
                            {#{% endif %}#}
                        {% endif %}
                    {% else %}
                        {% if droits.modificationEtat == true %}
                            {#{% if bloc.status == 1 %}#}
                            {#<a id="blocStateBtn{{ bloc.id }}" class="dropdown-item" onclick="blocDismiss({{bloc.id}})" >Invalider le paragraphe</a>#}
                            {#{% else %}#}
{#                            <a id="blocStateBtn{{ bloc.id }}" class="dropdown-item" onclick="blocValidation({{bloc.id}})" >{{ traduction.valider_le_bloc |trans }}</a>#}
                            {#{% endif %}#}
                        {% endif %}
                    {% endif %}
                    {#BLOC_VALIDATION#}
                    {#____________________________________#}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}