Chère contributrice, cher contributeur du document <b>{{ nomDocument }}</b> du dossier <b>{{ nomEvaluation }}</b>, <br>
nous vous informons que l’étape {{ etape }} a été invalidée par <b>{{ nomPrenom }}</b>.<br> <br>
Vous recevez ce message automatique de l'application de rédaction collaborative du Hcéres <a href="https://sarali.hceres.fr"> https://sarali.hceres.fr</a>.
<br>
<hr>
<br>

Dear contributor of the document <b>{{ nomDocument }}</b> in the <b>{{ nomEvaluation }}</b> folder,<br>
we inform you that the step {{ etape }} has been invalidated by <b>{{ nomPrenom }}</b>.<br> <br>

You are receiving this automatic message from the Hcéres collaborative editing application <a href="https://sarali.hceres.fr"> https://sarali.hceres.fr</a>.
