{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/dashboard/jquery.dataTables.min.css') }}">
{% endblock %}

{% block body %}

    <!-- Data Table area Start-->
    <div class="data-table-area" style="margin-bottom: 5%">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd"></div>
                        <div class="table-responsive">

                            <table id="data-table-historique" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Utilisateur</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for historique in  historiques %}
                                    <tr>
                                        <td>{{ historique.action }}</td>
                                        <td>{{ historique.username }}</td>
                                        <td>{{ historique.date|date('d/m/Y H:i:s') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->


{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}
