{% extends 'home/base.html.twig' %}

{% block content %}
    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb breadcrumb-custom" style="padding-left: 6px">
                <li class="breadcrumb-item breadcrumb-item-custom">
                    <a href="{{ app.request.getBaseURL() }}/">{{ traduction.accueil |trans }}</a>
                </li>
                <li class="breadcrumb-item breadcrumb-item-custom">
                    <a href="{{ app.request.getBaseURL() }}/dashboard/dossier/{{ app.session.get("evaluation_id") }}">{{ app.session.get("evaluation") }}</a>
                </li>
                <li class="breadcrumb-item breadcrumb-item-custom">
                    <a href="{{ path('document_evaluation_choice', {'idEval': app.session.get("evaluation_id"), 'idDoc': app.session.get("document_id"),'page' : 'dashboard_document'}) }}">{{ app.session.get("document") }}</a>
                </li>
                <li class="breadcrumb-item active">{{ traduction.depotdocument |trans }}</li>
            </ol>

            <h3>{{ traduction.depotdocument |trans }}</h3>

            {{ form_start(form) }}
            {{ traduction.etapeged | trans }}
            {{ form_widget(form.etapeGed) }}
            <br>
            {{ form_widget(form.filePath) }}
            <td>

                {{ form_widget(form.save, {'label' : traduction.enregister | trans}) }}
            {{ form_widget(form.save) }}
                <div class="mt-4 btn btn-primary form-btn-hceres btn">
                    <a href="{{ path('rapport_flux') }}">
                        {{ traduction.retour_flux }}
                    </a>

                </div>
            </td>

            {{ form_end(form) }}

            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="toast" data-autohide="false">
                        <div class="toast-header">
                            <strong class="mr-auto text-danger">{{ traduction.erreur_lors_de_la_lecture_des_balises |trans }}</strong>
                            <small class="text-muted"></small>
                            <button type="button" class="m-2 mb-1 close" data-dismiss="toast">&times;</button>
                        </div>
                        <div class="toast-body">
                            {{ flash|raw }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            <h4>{{ traduction.fichiers_depose | trans }}</h4>
            <table class="table table-sm mt-5" id="dataTable">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">{{ traduction.fichier |trans }}</th>
                    <th scope="col">{{ traduction.etapeged |trans }}</th>
                    <th scope="col">{{ traduction.auteur |trans }}</th>
                    <th scope="col">{{ traduction.date | trans }}</th>
                    <th scope="col">{{ traduction.actions |trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for file in documentsFinal %}
                    <tr>
                        <th scope="row">{{ file.Id }}</th>
                        <td>
                            <a href="{{ app.request.getBaseURL() }}/rapport/documentFinal/download/{{ file.Id }}">
                                {{ file.Name }}</a>{% if file.Actif == TRUE %}
                            <b>(ACTIF)</b>{% endif %}</td>
                        <td><b>{{ file.etapeGed }}</b></td>
                        <td>{{ file.idUser.UsernameCanonical }}</td>
                        <td>{{ file.DateCreation|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ app.request.getBaseURL() }}/rapport/documentFinal/download/{{ file.Id }}"
                               style="color: #0069d9;"> <span class="fas fa-fw fa-download"></span></a>
                            <a href="{{ app.request.getBaseURL() }}/rapport/documentFinal/delete/{{ file.Id }}"
                               style="color: red;"> <i class="fas fa-fw fa-trash"></i></a>
                            <a href="{{ app.request.getBaseURL() }}/rapport/documentFinal/actif/{{ file.Id }}"
                               style="color: #1ba452;"> <span class="fas fa-fw fa-check"></span></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            {# <hr>
            <h4>{{ traduction.tableaux |trans }} :</h4>
            <ul>
                <li>{{ traduction.nomenclatures |trans }} : {{ nomenclatures }} {{ traduction.lignes |trans }}</li>
                <li>{{ traduction.effectifs |trans }} : {{ tab_effectif }} {{ traduction.lignes |trans }}</li>
                <li>{{ traduction.tableau |trans }}_1_A : {{ tab1a }} {{ traduction.lignes |trans }}</li>
                <li>{{ traduction.tableau |trans }}_1_B : {{ tab1b }} {{ traduction.lignes |trans }}</li>
                <li>{{ traduction.tableau |trans }}_1_C : {{ tab1c }} {{ traduction.lignes |trans }}</li>
                <li>{{ traduction.tableau |trans }}_2 : {{ tab2 }} {{ traduction.lignes |trans }}</li>
                <li>{{ traduction.tableau |trans }}_3 : {{ tab3 }} {{ traduction.lignes |trans }}</li>
            </ul> #}

            <!-- Sticky Footer -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}