{% extends 'home/base.html.twig' %}

{% block title %}Edit note{% endblock %}

{% block content %}
    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            {#//////////////////////////////////////////////////////////////////////#}
            {#//////////////////////////////////////////////////////////////////////#}
            {#//////////////////////////////////////////////////////////////////////#}
            {#//////////////////////////////////////////////////////////////////////#}
            {#//////////////////////////////////////////////////////////////////////#}
            {#//////////////////////////////////////////////////////////////////////#}
            {#//////////////////////////////////////////////////////////////////////#}
            {#//////////////////////////////////////////////////////////////////////#}
            {#//////////////////////////////////////////////////////////////////////#}
            {#//////////////////////////////////////////////////////////////////////#}
            <h1>Modifier un commentaire général</h1>
            <!-- /.container-fluid -->
            {# form_widget(form) #}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="ml-5 col-md-8 mb-5" id ="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <a class="btn btn-link plusandminus"  href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-minus"></i> Fiche note
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {{ form_row(form.titre) }}
                           {% if form.titre is not same as(false) and required %}
        <span class="required" title="Merci de remplir ce champs">*</span>
    {% endif %}
                            {{ form_row(form.description) }}
                            {{ form_row(form.save, { 'label': traduction.enregister|trans } ) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Your Website 2018</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}
