{% extends 'home/base.html.twig' %}

{% block content %}
    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb breadcrumb-custom" style="padding-left: 6px">
                <li class="breadcrumb-item breadcrumb-item-custom">
                    <a href="{{ app.request.getBaseURL() }}/">{{ traduction.accueil |trans }}</a>
                </li>
                <li class="breadcrumb-item breadcrumb-item-custom">
                    <a href="{{ app.request.getBaseURL() }}/dashboard/dossier/{{ app.session.get("evaluation_id") }}">{{ app.session.get("evaluation") }}</a>
                </li>
                <li class="breadcrumb-item breadcrumb-item-custom">
                    <a href="{{ path('document_evaluation_choice', {'idEval': app.session.get("evaluation_id"), 'idDoc': app.session.get("document_id"),'page' : 'dashboard_document'}) }}">{{ app.session.get("document") }}</a>
                </li>
                <li class="breadcrumb-item active">{{ traduction.maquette |trans }}</li>
            </ol>


            <h3>{{ traduction.maquette |trans }}</h3>


            {# ... #}


            {{ form_start(form) }}
            {# <div class="form-group files">
                <label>Téléverser votre fichier </label> #}
            {{ form_widget(form.ficher_path, { 'attr' : { 'label' : traduction.parcourir | trans}}) }}
            {{ form_widget(form.save,  { 'label' : traduction.enregister | trans }) }}
            {# </div> #}
            {{ form_end(form) }}

            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="toast" data-autohide="false">
                        <div class="toast-header">
                            <strong class="mr-auto text-danger">{{ traduction.erreur_lors_de_la_lecture_des_balises |trans }}</strong>
                            <small class="text-muted"></small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                        </div>
                        <div class="toast-body">
                            {{ flash|raw }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}


            <table class="table table-sm mt-5" id="dataTable">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">{{ traduction.fichier |trans }}</th>
                    <th scope="col">{{ traduction.auteur |trans }}</th>
                    <th scope="col">{{ traduction.date |trans }}</th>
                    <th scope="col">{{ traduction.actions |trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for template in templates %}
                    <tr>
                        <th scope="row">{{ template.Id }}</th>
                        <td>
                            <a href="{{ app.request.getBaseURL() }}/rapport/template/download/{{ template.Id }}">{% if template.Actif == TRUE %}
                                    <b>(ACTIF)</b>{% endif %} {{ template.Nom }}</a></td>
                        <td>{{ template.IdUser.UsernameCanonical }}</td>
                        <td>{{ template.DateDepot|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ app.request.getBaseURL() }}/rapport/template/download/{{ template.Id }}"
                               style="color: #0069d9;"> <span class="fas fa-fw fa-download"></span></a>
                            <a href="{{ app.request.getBaseURL() }}/rapport/template/delete/{{ template.Id }}"
                               style="color: red;"> <i class="fas fa-fw fa-trash"></i></a>
                            <a href="{{ app.request.getBaseURL() }}/rapport/template/actif/{{ template.Id }}"
                               style="color: #1ba452;"> <span class="fas fa-fw fa-check"></span></a>
                            <a href="{{ app.request.getBaseURL() }}/rapport/api/createFile/{{ template.Id }}"
                               style="color: #1ba452;"> <span class="fas fa-fw fa-file-alt"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!-- Sticky Footer -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}