{% extends 'home/base.html.twig' %}

{% block title %}Edit Evaluation{% endblock %}


{% block content %}
    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb breadcrumb-custom" style="padding-left: 6px">
                <li class="breadcrumb-item breadcrumb-item-custom">
                    <a href="{{ app.request.getBaseURL()  }}/">{{ traduction.accueil|trans }}</a>
                </li>
                <li class="breadcrumb-item breadcrumb-item-custom">
                    <a href="{{ app.request.getBaseURL()  }}/admin/familles">{{ traduction.familles_d_evaluations|trans }}</a>
                </li>
                <li class="breadcrumb-item active">{{ traduction.modifier_une_famille | trans }}</li>
            </ol>
            <h1>{{ traduction.modifier_une_famille_d_evaluation | trans }}</h1>
            <!-- /.container-fluid -->
            {# form_widget(form) #}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="ml-5 col-md-8 mb-5" id ="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <a class="btn btn-link plusandminus"  href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-minus"></i> {{ traduction.fiche_famille_d_evaluation | trans }}
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            {{ traduction.nom |trans }}
                            {{ form_widget(form.name) }}
                            <br>
                            {{ traduction.code |trans }}

                            {{ form_widget(form.code) }}
                            <br>
                            {{ traduction.status |trans }}

                            {{ form_widget(form.status) }}
                            <br>
                            {{ form_widget(form.actif, {'attr' : {'label' : traduction.actif | trans}}) }}
                            <br>
                            {{ form_widget(form.save, {'attr' : {'label' : traduction.enregister | trans}}) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            <!-- Sticky Footer -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}
